{% extends "base.html" %}
{% load static %}
{% block content %}
<link rel="stylesheet" href="{% static 'blog/css/main.css' %}">
<div class="container">
    <div class="row">
        {% include 'includes/header.html' %}
    </div>
    <hr>

    <div class="row">
        {% include 'includes/heading-article.html' %}
    </div>
    <hr>

    <div class="row">
        <h3 class="articles-list-header">Другие статьи</h3>
        <ul class="articles-list">
            {% for post in post_list|slice:"1:" %}
              <li class="articles-list-article">
                  <a href="{% url 'blog:post_detail' post.slug  %}">
                      <p class="articles-list-article-created">{{ post.created_on}} </p>
                      <div class="articles-list-article-image-container">
                        <img class="articles-list-article-image" src="{{ post.image.url }}">
                      </div>
                      <h4 class="articles-list-article-header">{{ post.title }}</h4>
                  </a>
              </li>
            {% endfor %}
        </ul>
    </div>
</div>

{%endblock%}
