{% extends "base.html" %}
{% load static %}
{% block content %}
<link rel="stylesheet" href="{% static 'blog/css/main.css' %}">
<div class="container">
    <div class="row">
        {% include 'includes/header.html' %}
    </div>
    <div class="row">
      <h2 class="article-create-header">Добавить статью</h2>
      <form action='' method='post' enctype='multipart/form-data'>
        {% csrf_token %}
        {{ form.media }}

        <div class="form-first-row">
          <input type="text" name="title" class="title-field" placeholder="Введите название статьи" maxlength="200" required="" id="id_title">
          <button class='publish-button' type='submit'>Опубликовать</button>
        </div>
        <div class="form-second-row">
          <div class="cke-input">{{ form.visible_fields.1}}</div>
          <div class="image-button">
            <input type="file" name="image" class="image-field" accept="image/*" required="" id="id_image"/>
            <label class="image-upload-container" for="id_image">
              <div class="image-upload-message">Загрузить изображение</div>
              <div class="image-upload-button">Файл</div>
            </label>
          </div>
        </div>
<!--        {% for field in form.visible_fields %}-->
<!--          {{ field }}-->
<!--        {% endfor %}-->
<!--        {{ form.as_p }}-->
      </form>
    </div>
</div>
{% endblock %}