certifi==2017.11.5
chardet==3.0.4
Django==2.0.1
django-admin-view-permission==1.4
django-filter==1.1.0
djangorestframework==3.7.3
dry-rest-permissions==0.1.9
httpie==0.9.9
idna==2.6
Pygments==2.2.0
pytz==2017.3
requests==2.18.4
urllib3==1.22
