amqp==5.1.1
aniso8601==9.0.1
async-timeout==4.0.2
attrs==22.2.0
billiard==3.6.4.0
cached-property==1.5.2
celery==5.2.7
certifi==2022.12.7
charset-normalizer==2.1.1
click==8.1.3
click-didyoumean==0.3.0
click-plugins==1.1.1
click-repl==0.2.0
colorama==0.4.6
exceptiongroup==1.1.0
Faker==15.3.4
Flask==2.2.2
Flask-Pydantic==0.11.0
flask-pydantic-spec==0.4.1
Flask-RESTful==0.3.9
idna==3.4
importlib-metadata==4.13.0
inflection==0.5.1
iniconfig==1.1.1
itsdangerous==2.1.2
Jinja2==3.1.2
kombu==5.2.4
MarkupSafe==2.1.1
nested-lookup==0.2.25
packaging==22.0
peewee==3.15.4
peewee-db-evolve==3.7.6
pluggy==1.0.0
prompt-toolkit==3.0.36
psycopg2==2.9.5
pydantic==1.10.2
pytest==7.2.0
python-dateutil==2.8.2
python-dotenv==0.21.0
pytz==2022.6
PyYAML==6.0
redis==4.4.0
requests==2.28.1
six==1.16.0
tomli==2.0.1
typing_extensions==4.4.0
urllib3==1.26.13
vine==5.0.0
wcwidth==0.2.5
Werkzeug==2.2.2
zipp==3.11.0
