{% extends 'transfer_money/base.html' %}
{% block title %}
    Transfer money
{% endblock %}
{% block content %}
<h1>Выполнение перевода >= 1 количеству клиентов</h1>
    <div>
        <form id="form" action="" method="post">
            {% csrf_token %}
            {{ form.as_p }}
            <input type="submit" value="Отправить">
        </form>
    </div>
    <table>
        <th>
            <tr>
                <td>ID</td>
                <td>ИНН</td>
                <td>Баланс</td>
            </tr>
        </th>
        <tbody>
            {% for client in clients %}
                <tr>
                    <td>{{client.id}}</td>
                    <td>{{client.inn}}</td>
                    <td>{{client.balance}}</td>
                </tr>
            {% endfor %}
        </tbody>
    </table>

    <script>

    $(document).ready(function(){

        function handleFormSuccess(data, textStatus, jqXHR){
            $myForm[0].reset(); // сброс данных формы
            $('#recipients_err').remove();
            $('#amount_err').remove();
        }

        function handleFormError(jqXHR, textStatus, errorThrown){
            var errors = $.parseJSON(jqXHR.responseText);
            var recipients_errors = '<ul class="errorlist" id="recipients_err">';
            var amount_errors = '<ul class="amount_err errorlist" id="amount_err">';

            for (let category in errors){
                if (category == 'recipients'){
                    for (let error of errors[category]){
                        recipients_errors += `<li>${error}</li>`;
                    }
                } else {
                    amount_errors += `<li>${errors[category]}</li>`;
                }
            }
            recipients_errors += '</ul>';
            amount_errors += '</ul>';
            $('#recipients_err').remove();
            $('#amount_err').remove();
            var recipients_container = $('label[for="id_recipients"]').parent();
            var amount_container = $('label[for="id_amount_0"]').parent();
            $(recipients_container).prepend(recipients_errors);
            $(amount_container).prepend(amount_errors);
        }

        var $myForm = $('#form');
        $myForm.submit(function(event){
            event.preventDefault();
            var $formData = $(this).serialize();
            var $thisURL = $myForm.attr('data-url') || window.location.href // or set your own url
            $.ajax({
                method: "POST",
                url: $thisURL,
                data: $formData,
                success: handleFormSuccess,
                error: handleFormError
            })
        });
    })
    </script>

{% endblock %}
