<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <title>Order history</title>
</head>
<body>
  {% for filename in filenames %}
    <a href={{ url_for('represent', filename=filename) }}>{{ filename }}</a>
  {% endfor %}

  <ul>
    {% for nice in nicefied %}
      <li>{{ nice.action }} by {{ nice.username }} at {{ nice.time }}, {{ nice.date }}
        <ul>
          {% for diff in nice.diff_with_prev %}
            <li>{{ diff }}</li>
          {% endfor %}
        </ul>
      </li>
    {% endfor %}
  </ul>

</body>
</html>